{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MiniUrl</title>

  <!-- Favicons -->
  {% comment %} <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> {% endcomment %}

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/aos/aos.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href={% static  "assets/css/variables.css" %} rel="stylesheet">
<link href={% static  "assets/css/variables-purple.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static  "assets/css/main.css" %} rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url "home"%}" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <h1>MiniUrl<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
        </ul>
      </nav>

      <a class="btn-getstarted scrollto" href="/admin/core/tinyurl/add/">Add Url</a>

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container mt-5">

            <div class="section-header">
              <h2>Login</h2>
            </div>
    
          </div>
      <div class="container m-5" data-aos="fade-up">

        <div id="content-container" class="container p-none">
            <div class="lgn-container col-lg-6 mx-auto">
                <form id="login-form" method="post" 
                      action="{% url 'login' %}">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td><label for="id_username">Username</label></td>
                            <td><input id="id_username" name="username" 
                                       type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="id_password">Password</label></td>
                            <td><input id="id_password" name="password" 
                                       type="password" class="form-control"></td>
                        </tr>
                    </table>
                    {% if form.errors %}
                        <p class=" label label-danger">
                            Your username and password didn't match. 
                            Please try again.
                        </p>
                    {% endif %}
                    <input type="submit" value="Login" 
                           class="btn btn-primary pull-right" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "assets/vendor/aos/aos.js" %}></script>
  <script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
  <script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>
  <script src={% static "assets/vendor/php-email-form/validate.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "assets/js/main.js" %}></script>

</body>

</html>