{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MiniUrl</title>

  <!-- Favicons -->
  {% comment %} <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> {% endcomment %}

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/aos/aos.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href={% static  "assets/css/variables.css" %} rel="stylesheet">
<link href={% static  "assets/css/variables-purple.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static  "assets/css/main.css" %} rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url "home"%}" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <h1>MiniUrl<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
        </ul>
      </nav>

      <a class="btn-getstarted scrollto" href="/admin/core/tinyurl/add/">Add Url</a>

    </div>
  </header><!-- End Header -->

  <main id="main">


    <section id="portfolio-details" class="portfolio-details m-5">
      <div class="container">

        <div class="section-header">
          <h2>{{category}}</h2>
        </div>

      </div>
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          {% for link in links %}
          
          <div class="col-lg-4 col-md-6">
            <div class="portfolio-info">
              <h3>{{link.name}}</h3>
              <ul>
                <li><strong>URL</strong>: <a href="{{link.longUrl}}"> {{link.shortUrl}} </a></li>
              </ul>
            </div>
          </div>
          
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "assets/vendor/aos/aos.js" %}></script>
  <script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
  <script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>
  <script src={% static "assets/vendor/php-email-form/validate.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "assets/js/main.js" %}></script>

</body>

</html>