{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MiniUrl</title>

  <!-- Favicons -->
  {% comment %} <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> {% endcomment %}

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/aos/aos.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
  <link href={% static  "assets/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href={% static  "assets/css/variables.css" %} rel="stylesheet">
<link href={% static  "assets/css/variables-purple.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static  "assets/css/main.css" %} rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url "home"%}" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <h1>MiniUrl<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
        </ul>
      </nav>

      <a class="btn-getstarted scrollto" href="/admin/core/tinyurl/add/">Add Url</a>

    </div>
  </header><!-- End Header -->

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src={% static "assets/img/hero-carousel/hero-carousel-3.svg" %} class="img-fluid animated">
      <h2>Welcome to <span>MiniUrl</span></h2>
    </div>
  </section>

  <main id="main">


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-header">
              <h2>Browse Categories</h2>
            </div>
    
          </div>
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row gy-4 d-flex">

          {% for item in categories %}
          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link active show" href="{% url "cat" item.category %}">
              <i class="bi bi-binoculars color-cyan"></i>
              <h4>{{item.category}}</h4>
            </a>
          </li>
          {% endfor %}

        </ul>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "assets/vendor/aos/aos.js" %}></script>
  <script src={% static "assets/vendor/glightbox/js/glightbox.min.js" %}></script>
  <script src={% static "assets/vendor/swiper/swiper-bundle.min.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "assets/js/main.js" %}></script>

</body>

</html>